body{
    margin: 0;
    padding: 0;
}

.score{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 70px;
}

.obj{
    position: absolute;
    width: 50px;
    height: 50px;
}

#left{
    position: absolute;
    transform: rotate(180deg);
    left: 0;
    bottom: 20px;
    opacity: 0.8;
}

#right{
    position: absolute;
    right: 0;
    bottom: 20px;
    opacity: 0.8;
}

.game-scene{
    overflow: hidden;
    position: relative;
    background-image: url(img/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 480px;
    width: 100%;
    min-height: 90vh;
    margin-left: auto;
    margin-right: auto;
}